# bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc

src/server/public/main-wasm.data
src/server/public/main-wasm.js
src/server/public/main-wasm.wasm
src/logs